.carousel-pos{
	margin-bottom:50px;
}

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{

    background: rgb(0,0,0);
    background: rgba(0,0,0, 0.7);
    overflow-y: hidden;
    transition: 0.5s;
}

#myCarousel .nav :hover
{

    background: rgb(0,0,0);
    background: rgba(0,0,0, 0.7);
    overflow-y: hidden;
    transition: 0.5s;
}

.nav-justified > carouselli > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color:  rgba(76,76,76, 0.7); color:#fff;}
.nav-pills>li[data-slide-to="1"].active a { background-color:  rgba(76,76,76, 0.7); color:#fff;}
.nav-pills>li[data-slide-to="2"].active a { background-color:  rgba(76,76,76, 0.7); color:#fff;}
.nav-pills>li[data-slide-to="3"].active a { background-color:  rgba(76,76,76, 0.7); color:#fff;}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
}
.imgsize{
	height:400px;
}